# Libraries

In [29]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup
# regular expression
import re
# for numerical analysis
import numpy as np

# Web Scrapping

In [30]:
# get data
# ========

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [31]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [32]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [33]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,5,33,0,38
1,Andhra Pradesh,2765,3314,84,6163
2,Arunachal Pradesh,84,7,0,91
3,Assam,2081,1960,8,4049
4,Bihar,2261,4170,39,6470
5,Chandigarh,54,293,5,352
6,Chhattisgarh,891,763,8,1662
7,Dadra and Nagar Haveli and Daman and Diu,34,2,0,36
8,Delhi,24032,15823,1327,41182
9,Goa,490,74,0,564
10,Gujarat,5742,16325,1477,23544
11,Haryana,4117,3003,88,7208
12,Himachal Pradesh,174,337,7,518
13,Jammu and Kashmir,2593,2389,59,5041
14,Jharkhand,832,905,8,1745
15,Karnataka,2959,3955,86,7000
16,Kerala,1340,1102,19,2461
17,Ladakh,468,80,1,549
18,Madhya Pradesh,2666,7677,459,10802
19,Maharashtra,53030,50978,3950,107958
20,Manipur,367,91,0,458
21,Meghalaya,18,25,1,44
22,Mizoram,111,1,0,112
23,Nagaland,80,88,0,168
24,Odisha,1190,2708,11,3909
25,Puducherry,98,91,5,194
26,Punjab,717,2356,67,3140
27,Rajasthan,2836,9566,292,12694
28,Sikkim,64,4,0,68
29,Tamil Nadu,19679,24547,435,44661
30,Telangana,2412,2377,185,4974
31,Tripura,760,315,1,1076
32,Uttarakhand,684,1111,24,1819
33,Uttar Pradesh,4948,8268,399,13615
34,West Bengal,5552,5060,475,11087

# Data Cleaning

In [34]:
# date-time information
# =====================

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

# df_bs.head(36)

In [35]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')

In [36]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Telangana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809, 'Sikkim':27.5330, 
       'Dadra and Nagar Haveli and Daman and Diu': 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Telangana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169, 'Sikkim':88.5122,
        'Dadra and Nagar Haveli and Daman and Diu': 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

# df_bs.head(36)

In [37]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [38]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Active Cases*                 0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      0
Longitude                     0
dtype: int64

In [39]:
# number of unique values 
df_bs.nunique()

Name of State / UT            35
Active Cases*                 35
Cured/Discharged/Migrated*    34
Deaths**                      23
Total Confirmed cases*        35
Date                           1
Latitude                      35
Longitude                     31
dtype: int64

# Saving data

In [40]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = 'C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\'

# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,5,33,0,38,2020-06-15,11.7401,92.6586
1,Andhra Pradesh,2765,3314,84,6163,2020-06-15,15.9129,79.7400
2,Arunachal Pradesh,84,7,0,91,2020-06-15,28.2180,94.7278
3,Assam,2081,1960,8,4049,2020-06-15,26.2006,92.9376
4,Bihar,2261,4170,39,6470,2020-06-15,25.0961,85.3131
5,Chandigarh,54,293,5,352,2020-06-15,30.7333,76.7794
6,Chhattisgarh,891,763,8,1662,2020-06-15,21.2787,81.8661
7,Dadra and Nagar Haveli and Daman and Diu,34,2,0,36,2020-06-15,20.1809,73.0169
8,Delhi,24032,15823,1327,41182,2020-06-15,28.7041,77.1025
9,Goa,490,74,0,564,2020-06-15,15.2993,74.1240
10,Gujarat,5742,16325,1477,23544,2020-06-15,22.2587,71.1924
11,Haryana,4117,3003,88,7208,2020-06-15,29.0588,76.0856
12,Himachal Pradesh,174,337,7,518,2020-06-15,31.1048,77.1734
13,Jammu and Kashmir,2593,2389,59,5041,2020-06-15,33.7782,76.5762
14,Jharkhand,832,905,8,1745,2020-06-15,23.6102,85.2799
15,Karnataka,2959,3955,86,7000,2020-06-15,15.3173,75.7139
16,Kerala,1340,1102,19,2461,2020-06-15,10.8505,76.2711
17,Ladakh,468,80,1,549,2020-06-15,34.2996,78.2932
18,Madhya Pradesh,2666,7677,459,10802,2020-06-15,22.9734,78.6569
19,Maharashtra,53030,50978,3950,107958,2020-06-15,19.7515,75.7139
20,Manipur,367,91,0,458,2020-06-15,24.6637,93.9063
21,Meghalaya,18,25,1,44,2020-06-15,25.4670,91.3662
22,Mizoram,111,1,0,112,2020-06-15,23.1645,92.9376
23,Nagaland,80,88,0,168,2020-06-15,26.1584,94.5624
24,Odisha,1190,2708,11,3909,2020-06-15,20.9517,85.0985
25,Puducherry,98,91,5,194,2020-06-15,11.9416,79.8083
26,Punjab,717,2356,67,3140,2020-06-15,31.1471,75.3412
27,Rajasthan,2836,9566,292,12694,2020-06-15,27.0238,74.2179
28,Sikkim,64,4,0,68,2020-06-15,27.5330,88.5122
29,Tamil Nadu,19679,24547,435,44661,2020-06-15,11.1271,78.6569
30,Telangana,2412,2377,185,4974,2020-06-15,18.1124,79.0193
31,Tripura,760,315,1,1076,2020-06-15,23.9408,91.9882
32,Uttarakhand,684,1111,24,1819,2020-06-15,30.0668,79.0193
33,Uttar Pradesh,4948,8268,399,13615,2020-06-15,26.8467,80.9462
34,West Bengal,5552,5060,475,11087,2020-06-15,22.9868,87.8550

In [41]:
# column names 
# df_bs.columns

# Combining data

In [42]:
# list of all files available
# ! ls C:\Users\imdevskp\Documents\github\covid_india\.day_by_day_data

In [43]:
# location of the file
loc = "C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\"

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    
    try:
        df_temp = df_temp.drop(['Total Confirmed cases (Indian National)', 
                                'Total Confirmed cases ( Foreign National )'], axis=1)
    except:
        pass
        
    d = {'^Cured.*': 'Cured/Discharged/Migrated', 
         'Total Confirmed cases.*': 'Total Confirmed cases', 
         'Death.*': 'Death'}
    
    df_temp.columns = df_temp.columns.to_series().replace(d, regex=True)


#     df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
#     df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
#                                       'Total Confirmed cases *': 'Total Confirmed cases', 
#                                       'Total Confirmed cases ': 'Total Confirmed cases', 
#                                       'Total Confirmed cases* ': 'Total Confirmed cases'})
#     df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
#                                                       'Total Confirmed cases',x))
#     df_temp = df_temp.rename(columns=lambda x: re.sub("Death.*", "Death", x))

    
    # append to the df_s
    dfs.append(df_temp)
    
# print(dfs)

# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)

# get just numbers
complete_data['Death'] = complete_data['Death'].astype('str').str.extract('(\d+)').astype('int')

# few sample rows
complete_data.sample(10)

,Date,Name of State / UT,Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases,Active Cases*
903,2020-05-01,Puducherry,5,11.9416,79.8083,0,8,NaN
690,2020-04-23,Puducherry,3,11.9416,79.8083,0,7,NaN
1082,2020-05-09,Karnataka,376,15.3173,75.7139,30,753,NaN
809,2020-04-28,Kerala,355,10.8505,76.2711,4,481,NaN
164,2020-04-03,Delhi,8,28.7041,77.1025,4,219,NaN
1915,2020-06-15,Karnataka,3955,15.3173,75.7139,86,7000,2959.0
527,2020-04-18,Madhya Pradesh,69,22.9734,78.6569,69,1310,NaN
2109,3/22/2020,Punjab,0,31.1471,75.3412,1,21,NaN
1333,2020-05-17,Odisha,196,20.9517,85.0985,3,737,NaN
2999,6/11/2020,Kerala,905,10.8505,76.2711,18,2161,1238.0

In [44]:
# complete_data.columns

## Preprocessing

In [45]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Cured/Discharged/Migrated', 'Death']
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [46]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [47]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

In [48]:
# drop extra columns
complete_data = complete_data.drop(['Active Cases*'], axis=1)

In [49]:
# rearrange columns
complete_data = complete_data[['Date', 'Name of State / UT', 'Latitude', 'Longitude', 
                               'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]

In [50]:
# New cases
# =========

# temp dataset
temp = complete_data.groupby(['Name of State / UT', 'Date', ])['Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']
temp = temp.sum().diff().reset_index()

mask = temp['Name of State / UT'] != temp['Name of State / UT'].shift(1)

temp.loc[mask, 'Total Confirmed cases'] = np.nan
temp.loc[mask, 'Death'] = np.nan
temp.loc[mask, 'Cured/Discharged/Migrated'] = np.nan

temp = temp[['Date', 'Name of State / UT', 'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]
temp.columns = ['Date', 'Name of State / UT', 'New cases', 'New deaths', 'New recovered']

# merging new values
complete_data = pd.merge(complete_data, temp, on=['Name of State / UT', 'Date'])

# filling na with 0
complete_data = complete_data.fillna(0)

# fixing data types
cols = ['New cases', 'New deaths', 'New recovered']
complete_data[cols] = complete_data[cols].astype('int')

# remove negative values
complete_data['New cases'] = complete_data['New cases'].apply(lambda x: 0 if x<0 else x)

# final data
complete_data.head()

C:\Users\imdevskp\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1,0,0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1,0,0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2,0,0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3,0,0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3,0,0,0,0,0

## Final dataframe

In [51]:
# random rows
complete_data.sample(3)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
970,2020-04-15,Manipur,24.6637,93.9063,2,0,1,0,0,0
76,2020-03-09,Maharashtra,19.7515,75.7139,2,0,0,0,0,0
276,2020-03-22,Himachal Pradesh,31.1048,77.1734,2,0,0,0,0,0

In [52]:
# complete data info
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3021 entries, 0 to 3020
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       3021 non-null   datetime64[ns]
 1   Name of State / UT         3021 non-null   object
 2   Latitude                   3021 non-null   float64
 3   Longitude                  3021 non-null   float64
 4   Total Confirmed cases      3021 non-null   int64
 5   Death                      3021 non-null   int32
 6   Cured/Discharged/Migrated  3021 non-null   int32
 7   New cases                  3021 non-null   int64
 8   New deaths                 3021 non-null   int32
 9   New recovered              3021 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(2), object(1)
memory usage: 212.4+ KB

## Save as .csv file

In [53]:
# save data in a csv file
complete_data.to_csv('complete.csv', index=False)

In [54]:
# complete_data.groupby('Date').count()

In [55]:
# complete_data.sort_values('Death', ascending=False)

In [56]:
complete_data[complete_data['Date']==max(complete_data['Date'])]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
2986,2020-06-15,Andaman and Nicobar Islands,11.7401,92.6586,38,0,33,0,0,0
2987,2020-06-15,Andhra Pradesh,15.9129,79.7400,6163,84,3314,198,2,119
2988,2020-06-15,Arunachal Pradesh,28.2180,94.7278,91,0,7,4,0,3
2989,2020-06-15,Assam,26.2006,92.9376,4049,8,1960,331,0,376
2990,2020-06-15,Bihar,25.0961,85.3131,6470,39,4170,180,0,214
2991,2020-06-15,Chandigarh,30.7333,76.7794,352,5,293,7,0,7
2992,2020-06-15,Chhattisgarh,21.2787,81.8661,1662,8,763,150,2,132
2993,2020-06-15,Dadra and Nagar Haveli and Daman and Diu,20.1809,73.0169,36,0,2,1,0,0
2994,2020-06-15,Delhi,28.7041,77.1025,41182,1327,15823,2224,56,878
2995,2020-06-15,Goa,15.2993,74.1240,564,0,74,41,0,4
2996,2020-06-15,Gujarat,22.2587,71.1924,23544,1477,16325,506,29,442
2997,2020-06-15,Haryana,29.0588,76.0856,7208,88,3003,459,10,200
2998,2020-06-15,Himachal Pradesh,31.1048,77.1734,518,7,337,16,1,24
2999,2020-06-15,Jammu and Kashmir,33.7782,76.5762,5041,59,2389,163,4,120
3000,2020-06-15,Jharkhand,23.6102,85.2799,1745,8,905,34,0,89
3001,2020-06-15,Karnataka,15.3173,75.7139,7000,86,3955,176,5,307
3002,2020-06-15,Kerala,10.8505,76.2711,2461,19,1102,54,0,56
3003,2020-06-15,Ladakh,34.2996,78.2932,549,1,80,112,0,12
3004,2020-06-15,Madhya Pradesh,22.9734,78.6569,10802,459,7677,161,12,300
3005,2020-06-15,Maharashtra,19.7515,75.7139,107958,3950,50978,3390,120,1632
3006,2020-06-15,Manipur,24.6637,93.9063,458,0,91,9,0,0
3007,2020-06-15,Meghalaya,25.4670,91.3662,44,1,25,0,0,3
3008,2020-06-15,Mizoram,23.1645,92.9376,112,0,1,5,0,0
3009,2020-06-15,Nagaland,26.1584,94.5624,168,0,88,5,0,12
3010,2020-06-15,Odisha,20.9517,85.0985,3909,11,2708,186,1,114
3011,2020-06-15,Puducherry,11.9416,79.8083,194,5,91,18,3,9
3012,2020-06-15,Punjab,31.1471,75.3412,3140,67,2356,77,2,29
3013,2020-06-15,Rajasthan,27.0238,74.2179,12694,292,9566,293,10,229
3014,2020-06-15,Sikkim,27.5330,88.5122,68,0,4,5,0,0
3015,2020-06-15,Tamil Nadu,11.1271,78.6569,44661,435,24547,1974,38,1138
3016,2020-06-15,Telangana,18.1124,79.0193,4974,185,2377,237,3,25
3017,2020-06-15,Tripura,23.9408,91.9882,1076,1,315,30,0,0
3018,2020-06-15,Uttar Pradesh,26.8467,80.9462,13615,399,8268,497,14,393
3019,2020-06-15,Uttarakhand,30.0668,79.0193,1819,24,1111,34,1,34
3020,2020-06-15,West Bengal,22.9868,87.8550,11087,475,5060,389,12,518