# Libraries

In [1]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup
# regular expression
import re
# for numerical analysis
import numpy as np

# Web Scrapping

In [2]:
# get data
# ========

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [4]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,55,152,0,207
1,Andhra Pradesh,28800,24228,696,53724
2,Arunachal Pradesh,502,285,3,790
3,Assam,8229,17095,58,25382
4,Bihar,9996,17433,217,27646
5,Chandigarh,207,518,12,737
6,Chhattisgarh,1592,3944,25,5561
7,Dadra and Nagar Haveli and Daman and Diu,234,448,2,684
8,Delhi,15166,104918,3663,123747
9,Goa,1469,2361,23,3853
10,Gujarat,11513,35678,2162,49353
11,Haryana,6277,20226,355,26858
12,Himachal Pradesh,553,1067,11,1631
13,Jammu and Kashmir,6122,8274,254,14650
14,Jharkhand,2893,2810,53,5756
15,Karnataka,42222,23795,1403,67420
16,Kerala,7615,5616,43,13274
17,Ladakh,186,1007,2,1195
18,Madhya Pradesh,6888,15684,738,23310
19,Maharashtra,131636,175029,12030,318695
20,Manipur,618,1307,0,1925
21,Meghalaya,396,66,4,466
22,Mizoram,129,168,0,297
23,Nagaland,537,484,0,1021
24,Odisha,5103,12910,97,18110
25,Puducherry,798,1265,29,2092
26,Punjab,3130,7118,262,10510
27,Rajasthan,7627,22195,568,30390
28,Sikkim,213,92,0,305
29,Tamil Nadu,51351,121776,2551,175678
30,Telangana,11529,34323,422,46274
31,Tripura,1227,1845,7,3079
32,Uttarakhand,1375,3212,55,4642
33,Uttar Pradesh,19137,30831,1192,51160

# Data Cleaning

In [6]:
# date-time information
# =====================

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

# df_bs.head(36)

In [7]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')

In [8]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Telangana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809, 'Sikkim':27.5330, 
       'Dadra and Nagar Haveli and Daman and Diu': 20.1809}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Telangana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169, 'Sikkim':88.5122,
        'Dadra and Nagar Haveli and Daman and Diu': 73.0169}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

# df_bs.head(36)

In [9]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh'], dtype=object)

In [10]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Active Cases*                 0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      0
Longitude                     0
dtype: int64

In [11]:
# number of unique values 
df_bs.nunique()

Name of State / UT            34
Active Cases*                 34
Cured/Discharged/Migrated*    34
Deaths**                      29
Total Confirmed cases*        34
Date                           1
Latitude                      34
Longitude                     30
dtype: int64

# Saving data

In [12]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = 'C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\'

# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,55,152,0,207,2020-07-21,11.7401,92.6586
1,Andhra Pradesh,28800,24228,696,53724,2020-07-21,15.9129,79.7400
2,Arunachal Pradesh,502,285,3,790,2020-07-21,28.2180,94.7278
3,Assam,8229,17095,58,25382,2020-07-21,26.2006,92.9376
4,Bihar,9996,17433,217,27646,2020-07-21,25.0961,85.3131
5,Chandigarh,207,518,12,737,2020-07-21,30.7333,76.7794
6,Chhattisgarh,1592,3944,25,5561,2020-07-21,21.2787,81.8661
7,Dadra and Nagar Haveli and Daman and Diu,234,448,2,684,2020-07-21,20.1809,73.0169
8,Delhi,15166,104918,3663,123747,2020-07-21,28.7041,77.1025
9,Goa,1469,2361,23,3853,2020-07-21,15.2993,74.1240
10,Gujarat,11513,35678,2162,49353,2020-07-21,22.2587,71.1924
11,Haryana,6277,20226,355,26858,2020-07-21,29.0588,76.0856
12,Himachal Pradesh,553,1067,11,1631,2020-07-21,31.1048,77.1734
13,Jammu and Kashmir,6122,8274,254,14650,2020-07-21,33.7782,76.5762
14,Jharkhand,2893,2810,53,5756,2020-07-21,23.6102,85.2799
15,Karnataka,42222,23795,1403,67420,2020-07-21,15.3173,75.7139
16,Kerala,7615,5616,43,13274,2020-07-21,10.8505,76.2711
17,Ladakh,186,1007,2,1195,2020-07-21,34.2996,78.2932
18,Madhya Pradesh,6888,15684,738,23310,2020-07-21,22.9734,78.6569
19,Maharashtra,131636,175029,12030,318695,2020-07-21,19.7515,75.7139
20,Manipur,618,1307,0,1925,2020-07-21,24.6637,93.9063
21,Meghalaya,396,66,4,466,2020-07-21,25.4670,91.3662
22,Mizoram,129,168,0,297,2020-07-21,23.1645,92.9376
23,Nagaland,537,484,0,1021,2020-07-21,26.1584,94.5624
24,Odisha,5103,12910,97,18110,2020-07-21,20.9517,85.0985
25,Puducherry,798,1265,29,2092,2020-07-21,11.9416,79.8083
26,Punjab,3130,7118,262,10510,2020-07-21,31.1471,75.3412
27,Rajasthan,7627,22195,568,30390,2020-07-21,27.0238,74.2179
28,Sikkim,213,92,0,305,2020-07-21,27.5330,88.5122
29,Tamil Nadu,51351,121776,2551,175678,2020-07-21,11.1271,78.6569
30,Telangana,11529,34323,422,46274,2020-07-21,18.1124,79.0193
31,Tripura,1227,1845,7,3079,2020-07-21,23.9408,91.9882
32,Uttarakhand,1375,3212,55,4642,2020-07-21,30.0668,79.0193
33,Uttar Pradesh,19137,30831,1192,51160,2020-07-21,26.8467,80.9462

In [13]:
# column names 
# df_bs.columns

# Combining data

In [14]:
# list of all files available
# ! ls C:\Users\imdevskp\Documents\github\covid_india\.day_by_day_data

In [15]:
# location of the file
loc = "C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\"

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    
    try:
        df_temp = df_temp.drop(['Total Confirmed cases (Indian National)', 
                                'Total Confirmed cases ( Foreign National )'], axis=1)
    except:
        pass
        
    d = {'^Cured.*': 'Cured/Discharged/Migrated', 
         'Total Confirmed cases.*': 'Total Confirmed cases', 
         'Death.*': 'Death'}
    
    df_temp.columns = df_temp.columns.to_series().replace(d, regex=True)


#     df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
#     df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
#                                       'Total Confirmed cases *': 'Total Confirmed cases', 
#                                       'Total Confirmed cases ': 'Total Confirmed cases', 
#                                       'Total Confirmed cases* ': 'Total Confirmed cases'})
#     df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
#                                                       'Total Confirmed cases',x))
#     df_temp = df_temp.rename(columns=lambda x: re.sub("Death.*", "Death", x))

    
    # append to the df_s
    dfs.append(df_temp)
    
# print(dfs)

# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)

# get just numbers
complete_data['Death'] = complete_data['Death'].astype('str').str.extract('(\d+)').astype('int')

# few sample rows
complete_data.sample(10)

,Date,Name of State / UT,Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases,Active Cases*
3381,3/29/2020,Jammu and Kashmir,1,33.7782,76.5762,1,31,NaN
2233,2020-06-24,Dadra and Nagar Haveli and Daman and Diu,29,20.1809,73.0169,0,120,91.0
3393,3/29/2020,Tamil Nadu,2,11.1271,78.6569,1,42,NaN
1702,2020-06-08,Gujarat,13635,22.2587,71.1924,1249,20070,5186.0
3369,3/29/2020,Madhya Pradesh,0,22.9734,78.6569,2,30,NaN
73,2020-03-31,Andhra Pradesh,1,15.9129,79.7400,0,40,NaN
2473,2020-07-03,Himachal Pradesh,628,31.1048,77.1734,10,1014,376.0
2969,2020-07-21,Meghalaya,66,25.4670,91.3662,4,466,396.0
1779,2020-06-10,Delhi,11861,28.7041,77.1025,905,31309,18543.0
2551,2020-07-08,Chhattisgarh,2751,21.2787,81.8661,14,3415,650.0

In [16]:
# complete_data.columns

## Preprocessing

In [17]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Cured/Discharged/Migrated', 'Death']
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [18]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [19]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

In [20]:
# drop extra columns
complete_data = complete_data.drop(['Active Cases*'], axis=1)

In [21]:
# rearrange columns
complete_data = complete_data[['Date', 'Name of State / UT', 'Latitude', 'Longitude', 
                               'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]

In [22]:
# rename state names
complete_data['Name of State / UT'] = complete_data['Name of State / UT'].replace('Dadar Nagar Haveli', 'Dadra and Nagar Haveli and Daman and Diu')
complete_data['Name of State / UT'] = complete_data['Name of State / UT'].replace('Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [23]:
# New cases
# =========

# temp dataset
temp = complete_data.groupby(['Name of State / UT', 'Date', ])['Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']
temp = temp.sum().diff().reset_index()

mask = temp['Name of State / UT'] != temp['Name of State / UT'].shift(1)

temp.loc[mask, 'Total Confirmed cases'] = np.nan
temp.loc[mask, 'Death'] = np.nan
temp.loc[mask, 'Cured/Discharged/Migrated'] = np.nan

temp = temp[['Date', 'Name of State / UT', 'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]
temp.columns = ['Date', 'Name of State / UT', 'New cases', 'New deaths', 'New recovered']

# merging new values
complete_data = pd.merge(complete_data, temp, on=['Name of State / UT', 'Date'])

# filling na with 0
complete_data = complete_data.fillna(0)

# fixing data types
cols = ['New cases', 'New deaths', 'New recovered']
complete_data[cols] = complete_data[cols].astype('int')

# remove negative values
complete_data['New cases'] = complete_data['New cases'].apply(lambda x: 0 if x<0 else x)

# final data
complete_data.head()

C:\Users\imdevskp\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1,0,0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1,0,0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2,0,0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3,0,0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3,0,0,0,0,0

## Final dataframe

In [24]:
# random rows
complete_data.sample(3)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
1738,2020-05-09,Kerala,10.8505,76.2711,503,4,484,0,0,10
388,2020-03-26,Uttar Pradesh,26.8467,80.9462,41,0,11,4,0,0
481,2020-03-30,Himachal Pradesh,31.1048,77.1734,3,1,0,0,0,0

In [25]:
# complete data info
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4102 entries, 0 to 4101
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       4102 non-null   datetime64[ns]
 1   Name of State / UT         4102 non-null   object
 2   Latitude                   4102 non-null   float64
 3   Longitude                  4102 non-null   float64
 4   Total Confirmed cases      4102 non-null   int64
 5   Death                      4102 non-null   int32
 6   Cured/Discharged/Migrated  4102 non-null   int32
 7   New cases                  4102 non-null   int64
 8   New deaths                 4102 non-null   int32
 9   New recovered              4102 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(4), int64(2), object(1)
memory usage: 288.4+ KB

## Save as .csv file

In [26]:
# save data in a csv file
complete_data.to_csv('complete.csv', index=False)

In [27]:
# complete_data.groupby('Date').count()

In [28]:
# complete_data.sort_values('Death', ascending=False)

In [29]:
complete_data[complete_data['Date']==max(complete_data['Date'])]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
4068,2020-07-21,Andaman and Nicobar Islands,11.7401,92.6586,207,0,152,4,0,7
4069,2020-07-21,Andhra Pradesh,15.9129,79.7400,53724,696,24228,4074,54,1338
4070,2020-07-21,Arunachal Pradesh,28.2180,94.7278,790,3,285,50,0,3
4071,2020-07-21,Assam,26.2006,92.9376,25382,58,17095,1383,1,1072
4072,2020-07-21,Bihar,25.0961,85.3131,27646,217,17433,1077,0,1125
4073,2020-07-21,Chandigarh,30.7333,76.7794,737,12,518,20,0,30
4074,2020-07-21,Chhattisgarh,21.2787,81.8661,5561,25,3944,154,1,169
4075,2020-07-21,Dadra and Nagar Haveli and Daman and Diu,20.1809,73.0169,684,2,448,79,0,34
4076,2020-07-21,Delhi,28.7041,77.1025,123747,3663,104918,954,35,1784
4077,2020-07-21,Goa,15.2993,74.1240,3853,23,2361,196,1,143
4078,2020-07-21,Gujarat,22.2587,71.1924,49353,2162,35678,998,20,777
4079,2020-07-21,Haryana,29.0588,76.0856,26858,355,20226,694,6,433
4080,2020-07-21,Himachal Pradesh,31.1048,77.1734,1631,11,1067,148,0,8
4081,2020-07-21,Jammu and Kashmir,33.7782,76.5762,14650,254,8274,751,10,463
4082,2020-07-21,Jharkhand,23.6102,85.2799,5756,53,2810,221,4,94
4083,2020-07-21,Karnataka,15.3173,75.7139,67420,1403,23795,3648,72,730
4084,2020-07-21,Kerala,10.8505,76.2711,13274,43,5616,794,1,245
4085,2020-07-21,Ladakh,34.2996,78.2932,1195,2,1007,17,0,4
4086,2020-07-21,Madhya Pradesh,22.9734,78.6569,23310,738,15684,710,17,373
4087,2020-07-21,Maharashtra,19.7515,75.7139,318695,12030,175029,8240,176,5460
4088,2020-07-21,Manipur,24.6637,93.9063,1925,0,1307,14,0,94
4089,2020-07-21,Meghalaya,25.4670,91.3662,466,4,66,16,2,0
4090,2020-07-21,Mizoram,23.1645,92.9376,297,0,168,13,0,1
4091,2020-07-21,Nagaland,26.1584,94.5624,1021,0,484,33,0,39
4092,2020-07-21,Odisha,20.9517,85.0985,18110,97,12910,673,6,457
4093,2020-07-21,Puducherry,11.9416,79.8083,2092,29,1265,93,1,111
4094,2020-07-21,Punjab,31.1471,75.3412,10510,262,7118,410,8,583
4095,2020-07-21,Rajasthan,27.0238,74.2179,30390,568,22195,956,9,465
4096,2020-07-21,Sikkim,27.5330,88.5122,305,0,92,22,0,0
4097,2020-07-21,Tamil Nadu,11.1271,78.6569,175678,2551,121776,4985,70,3861
4098,2020-07-21,Telangana,18.1124,79.0193,46274,422,34323,1198,7,1885
4099,2020-07-21,Tripura,23.9408,91.9882,3079,7,1845,201,2,86
4100,2020-07-21,Uttar Pradesh,26.8467,80.9462,51160,1192,30831,1913,46,986
4101,2020-07-21,Uttarakhand,30.0668,79.0193,4642,55,3212,127,3,96